<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="BDRestaurantesEntities" connectionString="metadata=res://*/Modelo.RestauranteBD.csdl|res://*/Modelo.RestauranteBD.ssdl|res://*/Modelo.RestauranteBD.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-6DRU5PA;initial catalog=BDRestaurantes;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>