@model ServiciosWeb.Dominio.Modelo.CambiarContrasenModel

@{
    ViewBag.Title = "Correcto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Contraseña Cambiado</h2>
<div>

    <hr />
    <dl class="dl-horizontal">

        <dd>

            @Html.Label("Se envio un correo al arriba indicando, con la contraseña", htmlAttributes: new { @class = "control-label" })
        </dd>
    </dl>

</div>

